html {
  font-size: 37.5px;
}

.page {
  position: relative;
  width: 34.134rem;
  height: 19.2rem;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(27, 27, 31, 1);
  height: 19.2rem;
  width: 34.134rem;
}

.box_7 {
  width: 33.2rem;
  height: 1.094rem;
  margin: 0.267rem 0 0 0.32rem;
}

.label_1 {
  width: 0.8rem;
  height: 0.8rem;
}

.text_1 {
  width: 2.24rem;
  height: 0.507rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: HarmonyOS Sans SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.507rem;
  margin: 0.214rem 0 0 0.134rem;
}

.box_2 {
  background-color: rgba(22, 22, 24, 1);
  border-radius: 6px;
  width: 1.28rem;
  height: 0.454rem;
  margin: 0.214rem 0 0 0.32rem;
}

.thumbnail_1 {
  width: 0.214rem;
  height: 0.214rem;
  margin: 0.134rem 0 0 0.107rem;
}

.text_2 {
  width: 0.267rem;
  height: 0.16rem;
  overflow-wrap: break-word;
  color: rgba(148, 148, 155, 1);
  font-size: 0.133rem;
  font-family: HarmonyOS Sans SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.16rem;
  margin: 0.16rem 0.614rem 0 0.08rem;
}

.label_2 {
  width: 0.747rem;
  height: 0.694rem;
  margin: 0.294rem 0 0 22.427rem;
}

.text_3 {
  width: 1.387rem;
  height: 0.8rem;
  overflow-wrap: break-word;
  color: rgba(153, 161, 230, 1);
  font-size: 0.693rem;
  font-family: HarmonyOS Sans SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: 0.294rem 0 0 0.107rem;
}

.box_3 {
  background-color: rgba(216, 216, 216, 1);
  border-radius: 765px;
  width: 0.027rem;
  height: 0.667rem;
  margin: 0.347rem 0 0 0.214rem;
}

.text_4 {
  width: 3.334rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: HarmonyOS Sans SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.294rem 0 0 0.187rem;
}

.box_8 {
  width: 26.854rem;
  height: 3.92rem;
  margin: 0.694rem 0 0 2.214rem;
}

.text-wrapper_2 {
  width: 6.827rem;
  height: 3.227rem;
  margin-top: 0.694rem;
}

.text_5 {
  width: 6.827rem;
  height: 2rem;
  overflow-wrap: break-word;
  color: rgba(168, 177, 255, 1);
  font-size: 1.706rem;
  font-family: HarmonyOS Sans SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2rem;
}

.text_6 {
  width: 5.44rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(223, 223, 214, 1);
  font-size: 0.64rem;
  font-family: HarmonyOS Sans SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: -0.107rem 0 0 0.187rem;
}

.text_7 {
  width: 1.067rem;
  height: 0.614rem;
  overflow-wrap: break-word;
  color: rgba(149, 151, 159, 1);
  font-size: 0.533rem;
  font-family: HarmonyOS Sans SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.614rem;
  margin: -0.027rem 0 0 0.187rem;
}

.image_1 {
  width: 3.814rem;
  height: 3.92rem;
}

.box_9 {
  width: 31.867rem;
  height: 11.6rem;
  margin: 0.8rem 0 0.827rem 1.147rem;
}

.box_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 31.867rem;
  height: 11.6rem;
}
